
#carousel-111948{
    width: 850px;
    
}

#carousel-144942 {
    width: 445px;
    margin-left: 385px;
    
}

body{
     background-image: url("../img/background_text.png");
     margin-left: -10px;
    
}

.row {
    margin: auto;
    width: 800px;
    
}

.row2 {
    margin: auto;
    width: 800px;
    padding-left: 24px;
    padding-top: 20px;
}

.twoyear {
    margin-left: 24px;
    
}

.semestertitle{
    width: 160px;
    margin: 10px;
    margin-bottom: 3px;
}

.coretitle{
    width: 50px;
    margin: 13px;
    margin-top: 5px;
    margin-right: -13px; 
    float: left;
}

.coursetitle{
    width: 340px;
    margin: 10px;
    margin-right: -13px;
    text-align: center;
}


.year {

    width: 390px;
    height: 328px;
    margin-left: 0px;
    margin-right: 3px;
    float: left;
    background-image: url("../img/sched_box.png");
   
}


.semester {
    width: 180px;
    height: 308px;
    margin: 10px;
    margin-left: 10px;
    margin-right: 0px;
    float: left;
    text-align: center;
    
    
}

.search {
    width: 320px;
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
    float: left;
    background-image: url("../img/search_box.png");
    
}

.classContainer {
    padding: 15px;
    height: 298px;
    width: 360px;
    margin-left: 18px;
    float: left;
    background-image: url("../img/courses_box.png");
}


.core{
    width: 766px;
    height: 80px;
    padding: 10px;
    padding-top: 20px;
    float: left;
    background-image: url("../img/core_box.png");
    
}



.hexagonLeft{
    width: 67px;
    height: 48px;
    padding-top: 27px;
    margin-left: 39px;
    margin-bottom: -14px;
    float: left;
    background-image: url(../img/hexagon.png);
    background-size: contain;
    text-align: center;
    color: #FFFFFF;
    
}

.hexagon{
    width: 67px;
    height: 48px;
    padding-top: 27px;
    margin-bottom: -14px;
    margin-left: 3px;
    float: left;
    background-image: url(../img/hexagon.png);
    background-size: contain;
    text-align: center;
    color: #FFFFFF;
    
}

.hexagonCore{
    width: 67px;
    height: 49px;
    padding-top: 27px;
    margin-left: 3px;
    float: left;
    background-image: url(../img/hexagon.png);
    background-size: contain;
    text-align: center;
    color: #FFFFFF;
    
}

.hexagon img{
    position: absolute;
    margin: -10px;
    width: 88px;
    height: 99px;
    background-color: #0000FF;
    
}


.carousel-inner > .item {
    margin-left: 0px;
    margin-right: 0px;
    
}

.carousel-control{
    width: 5%;

}


